{% extends "master.html" %}

{% block title %}
<title>Crud Operations</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0">
<style>
  h1
  {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: #07691e;
    text-align: center;
    text-decoration: dotted;
  }
</style>

{% endblock %}  

 



{% block content %}
<div class="heading">
  <br>
  <br>
  <h1>Django Crude Operations</h1>
 
</div>
{% endblock %}
